* {
    margin:0;
    padding:0;
}
.card-background {
    background-color:#000528;
}

.avatar {
    border-radius:50%;
}

.icons {
    color:white;
}

.card-items div {
    margin-bottom:1em;
}

.grow {
    transition: all .2s ease-in-out;
}
.grow:hover { 
    transform: scale(1.3); 
    color:rgb(0, 145, 255);
}